<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="refresh" content="4; URL=/home" />
  <meta charset="UTF-8" />
  <title>- Távola -</title>
  {{ style('css/style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p></p>
      <p>
        
      </p>
    </div>
  </section>
</body>
</html>
