<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/home">Questões Abertas</a>
      <a class="p-2 text-muted" href="/questionDirect/1">Questões Diretas Candidato 1</a>
      <a class="p-2 text-muted" href="/questionDirect/2">Questões Diretas Candidato 2</a>
      
    </nav>
  </div>